
<div class="form-group">
                 <label>Online Transaction Option </label>
                   <div class="custom_checkbox form-check">
                                            <input type="checkbox" name="paymentMode[]" id="paymentMode" value="1">
                                            <label for="paymentMode">
                                                <span class="shadow_checkbox"></span>
                                                <span class="radio_title catnamebox">&nbsp;Advance For Delivery  </span>
                                            </label>
                                        </div>
                   <div class="custom_checkbox form-check">
                <input type="checkbox" name="paymentMode[]" id="paymentMode1" value="2">
                <label for="paymentMode1">
                    <span class="shadow_checkbox"></span>
                    <span class="radio_title catnamebox">&nbsp;Advance For Pick Up </span>
                </label>
            </div>
                </div>
                <div class="form-group">
                 <label>Cash On Delivery Option</label>
                 		<div class="custom_checkbox form-check">
                                            <input type="checkbox" name="codpaymentMode[]" id="paymentMode3" value="3">
                                            <label for="paymentMode3">
                                                <span class="shadow_checkbox"></span>
                                                <span class="radio_title catnamebox">&nbsp;Pay At Delivery  </span>
                                            </label>
                                        </div>
                        <div class="custom_checkbox form-check">
                <input type="checkbox" name="codpaymentMode[]" id="paymentMode4" value="4">
                <label for="paymentMode4">
                    <span class="shadow_checkbox"></span>
                    <span class="radio_title catnamebox">&nbsp;Pay At Pick Up </span>
                </label>
            </div>
                </div>



<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title> Kanpurize the spirit of Kanpur</title>
 	 <link href="{{ asset('public/kanpurizeTheme/assets/css/bootstrap.css') }}" rel="stylesheet" />
    <link href="{{ asset('public/kanpurizeTheme/assets/css/font-awesome.min.css') }}" rel="stylesheet" />
</head>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="{{ asset('public/kanpurizeTheme/assets/js/jquery-1.10.2.js') }}"></script>
<script src="{{ asset('public/kanpurizeTheme/assets/js/bootstrap.js') }}"></script>
</html>
<div class="row">
                <div class="testimonial-slider">
                <div id='carousel-custom' class='carousel slide' data-ride='carousel'>
    <div class='carousel-outer'>
        <!-- me art lab slider -->
        <div class='carousel-inner '>
            <div class='item active'>
                 <div class="testimonial testibox">
                        <div class="testimonial__about">
                            <div class="avatar v_middle"><img src="{{ url('images/icon/1.png') }}" alt="Kanpurize"></div>
                            <div class="name-designation v_middle">
                                <h4 class="name">Avneet Gupta</h4>
                                <span class="desig">Student</span>
                            </div>
                            <span class="lnr lnr-bubble quote-icon"></span>
                        </div>
                        <div class="testimonial__text">
                            <p>It’s a very new and unique thing for Kanpur. Now we can get everything which belongs to Kanpur at our finger’s tips. Wishing all the very best for the future of this.</p>
                        </div>
                    </div>
            </div>
            <div class='item'>
                <div class="testimonial testibox">
                        <div class="testimonial__about">
                            <div class="avatar v_middle"><img src="{{ ('images/icon/1.png') }}" alt="Kanpurize"></div>
                            <div class="name-designation v_middle">
                                <h4 class="name">Kartikey Singh</h4>
                                <span class="desig">Business Man</span>
                            </div>
                            <span class="lnr lnr-bubble quote-icon"></span>
                        </div>
                        <div class="testimonial__text">
                            <p>The Kanpurize concept is very unique and new.  Congratulations and best wishes.</p>
                        </div>
                    </div>
            </div>
            <div class='item'>
                <div class="testimonial testibox">
                        <div class="testimonial__about">
                            <div class="avatar v_middle"><img src="{{ url('images/icon/1.png') }}" alt="Kanpurize"></div>
                            <div class="name-designation v_middle">
                                <h4 class="name">M.K. Singh</h4>
                                <span class="desig">Real Estate Agent</span>
                            </div>
                            <span class="lnr lnr-bubble quote-icon"></span>
                        </div>
                        <div class="testimonial__text">
                            <p>This is a great idea by which it will be possible to cater the need of Kanpur and its people very well. </p>
                        </div>
                    </div>
            </div>
            <div class='item'>
               <div class="testimonial testibox">
                        <div class="testimonial__about">
                            <div class="avatar v_middle"><img src="{{ url('images/icon/1.png') }}" alt="Kanpurize"></div>
                            <div class="name-designation v_middle">
                                <h4 class="name">Kusum Yadav</h4>
                                <span class="desig">Chartered Accountant</span>
                            </div>
                            <span class="lnr lnr-bubble quote-icon"></span>
                        </div>
                        <div class="testimonial__text">
                            <p>This is a very unique and new concept in our city. Something like that was never heard before. I wishes all the very best to Kanpurize and its whole team.</p>
                        </div>
                    </div>
            </div>
        </div>
        <!-- sag sol -->
        <a class='left carousel-control' href='#carousel-custom' data-slide='prev'>
            <span class='lnr lnr-chevron-left singlepror slick-arrow"'></span>
        </a>
        <a class='right carousel-control' href='#carousel-custom' data-slide='next'>
            <span class='lnr lnr-chevron-right singlepror slick-arrow"'></span>
        </a>
    </div></div>
                    <!-- end /.testimonial -->

                    <!-- end /.testimonial -->

                    <!-- end /.testimonial -->

                    <!-- end /.testimonial -->
                </div><!-- end /.testimonial_slider -->
            </div>